maps/nyc_bike_trips_aggregated.html filter=lfs diff=lfs merge=lfs -text
notebooks/nyc_bike_trips_aggregated.html filter=lfs diff=lfs merge=lfs -text
maps/*.html filter=lfs diff=lfs merge=lfs -text
notebooks/*.html filter=lfs diff=lfs merge=lfs -text
